.confirm-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f0fff4; */
    /* border: 1px solid #c6f6d5; */
    color: #2f855a;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}

.check-icon {
    margin-right: 10px;
    font-size: 20px;
}

.confirm-main-content {
    /* background: #fff; */
    /* border: 1px solid #eee; */
    padding: 30px;
    border-radius: 12px;
}

.order-details-card h4 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 20px;
}

.info-section {
    margin: 20px 0;
    line-height: 1.8;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 2px solid #eee;
    padding-top: 10px;
    margin-top: 20px;
}

/* thêm */
.line {
    border-top: 2px solid #eee;
    padding-top: 10px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #f9f9f9;
}

/* .total-final {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
} */

/* .shipping-note {
    background: #fff9f0;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
} */

.payment-qr-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px dashed #ccc;
}

.qr-image {
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px 0;
}

.status-badge {
    background: #FEE3BA;
    /* color: #b7791f; */
    padding: 8px 15px;
    border-radius: 4px;
    display: inline-block;
}

.warning-text {
    color: #e53e3e;
    font-weight: bold;
    margin-top: 20px !important;
}

/* .bank-info-box p {
    margin: 10px 0;
} */
 .bank-info-box {
    display: flex;
    flex-direction: column; /* Xếp các dòng theo chiều dọc */
    gap: 25px;              /* Khoảng cách đều nhau giữa các dòng là 15px */
}

.bank-info-box h4 {
    margin-bottom: 5px;     /* Tiêu đề có thể sát hơn một chút */
}

.bank-info-box p {
    margin: 0;              /* Xóa margin mặc định để 'gap' hoạt động chính xác */
}