footer{
    background-color:#1E1E1E;
    opacity: 0.85;
    color: #FFFFFF;
    font-weight: 300;
}
.footer-container{
   max-width: var(--max-width);
  margin: 0 auto;
  padding: 40px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: start;
  border-bottom: 1px solid #ffff;
}
.title{
font-size: 16px;
  letter-spacing: 0.06em;
  margin: 0 0 12px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.list a{
   text-decoration: none;
   color: var(--text-color);
}
.list li{
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
.contact-info{
  font-size: 14px;
  line-height: 2.2;
}
.contact-info img {
  vertical-align: middle;
  margin-right: 8px;
}
.contact-social img{
  align-items: center;
  margin-right: 16px;
  cursor: pointer;}
.footer-bottom{
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  
}