.product-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.product-card {
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 200;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
}


.image-box {
  position: relative;
  object-fit:cover ;
  overflow: hidden;
}
.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.product-card:hover .overlay{
  opacity: 1;
}

.image-box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}
/* WISHLIST */
.wishlist {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-6px);
  transition: all 0.3s ease;
  z-index: 2;
}

.product-card:hover .wishlist {
  opacity: 1;
  transform: translateY(0);
}

.wishlist img{
    width: 24px;
  height: 24px;
  object-fit: cover;
}


.add-to-cart {
  position: absolute;
  top: 40px;
  left: 12px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;

  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;

}
.product-card:hover .add-to-cart {
  opacity: 1;
  transform: translate(-50%, 0);
}
.add-to-cart img{
    width: 25px;
  height: 25px;
  object-fit: cover;
}
.product-card:hover .add-to-cart {
  transform: translateY(0);
  opacity: 1; 
}


.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  padding: 4px 10px;
  background: #333;
  color: #fff;
  border-radius: 12px;
  z-index: 2;
}

.product-name {
  font-size: 20px;

 margin: 16px 10px 6px 10px;
 -webkit-box-orient: vertical;
  overflow: hidden;
}
.rating {
  color: #f5b301;
  font-size: 14px;
  margin-left: 10px;
}

.product-desc {
  font-size: 13px;
  color: #777;
  margin: 8px 10px;
  overflow-wrap: break-word; 
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 16px;
  margin-top: auto;
  margin-left: 10px;
  
}
