.product-card {
  font-family: serif;
  min-width: calc(25% - 15px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card:hover {
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
}


.image-box {
  position: relative;
  background: #f6f6f6;
  /* padding: 40px 20px; */

  object-fit:cover ;
}

.image-box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  padding: 4px 10px;
  background: #333;
  color: #fff;
  border-radius: 12px;
}

.product-name {
  font-size: 15px;
 margin: 16px 10px 6px 10px;
 -webkit-box-orient: vertical;
  overflow: hidden;
}
.rating {
  color: #f5b301;
  font-size: 14px;
  margin-left: 10px;
}

.product-desc {
  font-size: 13px;
  color: #777;
  margin: 8px 10px;
  overflow-wrap: break-word; 
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 16px;
  margin-top: auto;
  margin-left: 10px;
  
}
