.slider-wrapper {
  position: relative;
   overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
   transition: transform 0.6s ease;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
      flex: 0 0 25%;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider > .product-card{
  flex: 0 0 calc(25% - 15px);
  scroll-snap-align: start;
}
.slide-item {
  flex: 0 0 25%;      /* 🔒 LUÔN 4 CỘT */
  box-sizing: border-box;
}


/* VÙNG HOVER */
.hover-zone {
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 2;
}

.hover-zone.left {
  left: 0;
}

.hover-zone.right {
  right: 0;
}

/* Gợi ý UX: mờ dần */
.hover-zone.left::after,
.hover-zone.right::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}


.hover-zone.left::after {
  background: linear-gradient(to right, rgba(255,255,255,.6), transparent);
}

.hover-zone.right::after {
  background: linear-gradient(to left, rgba(255,255,255,.6), transparent);
}
