.main {
    width: 684px;
    height: 721px;
    border: 5px solid #D8D3D3;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 100px 0 100px 230px;
    border-radius: 25px;
}
input {
    width: 551px;
    height: 64px;
    border-radius: 10px;
}
.phandangnhap {
    font-size: 32px;
}
.tendangnhap {
    margin: 30px 0 0 0;
    font-size: 20px;
}
.matkhau {
    font-size: 20px;
    margin: 40px 0 0 0;
}
#khongdung {
    font-size: 15px;
}
.nhapcauhoi {
    margin: 60px 0 0 50px;
}
.nhomatkhau {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
}
.nhomatkhau p {
    margin: 4px 0 0 4px;
    font-size: 24px;
}
#quenmatkhau {
    margin: 0 0 0 161px;
    font-size: 24px;
    color: #FF0000;
}
#chuataikhoan {
    font-size: 24px;
}
#dangkingay {
        font-size: 24px;
        color: #0044FF;
}
#nut {
    text-align: center;
    font-size: 32px;
}
#nut button {
    width: 343px;
    height: 59px;
    border-radius: 100px;
    background-color: #32302E;
    color: #FFFFFF;
}
#nuttich {
    width: 20px;
    height: 20px;
}