:root{
  --primary-color: #C49144;
  --secondary-color: #000000;
  --background-color: #FFFFFF;
  -moz-background-body:#FFFDF7 ;
  --font-family: 'Josefin Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: var(--font-family);
   background-color: var(--background-color);
}

/* Reset link style */
a {
  text-decoration: none;
  color: inherit;
}
