
/* Header container */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color); 
  border-bottom: 2px solid #000;
  font-weight:350; 
  padding: 0 25px;
   text-decoration: none;
}

/* Navigation menu */
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px; 
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul li {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.active-menu a{
  font-weight: 400;
  color: var(--primary-color);
}
 .active-menu img  {
  filter: brightness(0) saturate(100%) invert(62%) sepia(39%) saturate(638%)
    hue-rotate(22deg) brightness(93%) contrast(90%);
}





.menu-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  display: flex;
  position: relative;
}
.cart-icon .sl {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 9px;
  right: -2px;
  background-color: rgb(255, 83, 83);
  color: white;
  border-radius: 50%;
  padding: 2px px;
  text-align: center;
  font-size: 10px;
}


