:root{
  --primary-color: #C49144;
  --secondary-color: #1E1E1E;
  --background-color: #FFFFFF;
  
  --font-family: 'Josefin Sans', sans-serif;
  --font-family_secondary: 'Source Serif 4', serif;
}
*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: var(--font-family), var(--font-family_secondary);
}

/* Reset link style */
a {
  text-decoration: none;
  color: inherit;
  
}